div#board {
  display: grid;
  min-height: 200px;
  min-width: 200px;
  background-color: black;
}

div.tile {
  margin: 0px;
  border-style: outset
}

div.tile.open {
  /* closed by default, these styles to overwrite all closed styles */
  border-style: inset;
}

input[type=radio] {
  visibility: hidden;
}
